.gitignore export-ignore
.gitattributes export-ignore
Makefile export-ignore
README.md export-ignore
composer.json export-ignore
composer.lock export-ignore
phpunit.xml.dist export-ignore
/bin export-ignore
/tests export-ignore
woocommerce-rulehook-connector.zip export-ignore
rulehook.zip export-ignore
/core/app/frontend/app/node_modules export-ignore
/core/app/frontend/app/public export-ignore
/core/app/frontend/app/src export-ignore
/core/app/frontend/app/*.json export-ignore
/core/app/frontend/app/README.MD export-ignore
/core/app/frontend/app/vue.config.js export-ignore
/core/app/frontend/app/.gitignore export-ignore
/core/app/frontend/app/.editorconfig export-ignore
.DS_Store export-ignore
languages/.gitkeep export-ignore

