@import 'tailwindcss';

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #10b981;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --font-family-display: "Inter", sans-serif;
  --breakpoint-desktop: 1024px;
}

button {
  @apply cursor-pointer;
}
.woocommerce-save-button {
  display: none;
}
